main {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    
}

.avatar {
    height: 160px;
    width: 160px;
    border: 1px solid  #565353;
    margin-bottom: 20px;
    margin-top: 50px;  
}

.username {
    display: block;
    text-align: center;
    justify-content:center;
}

.inputwidth {
    width: 180px;
    text-align: center;
    border: 2px solid  #020202; 
    border-radius: 5px; 
    margin-bottom: 20px;
    padding: 8px;    
}

.buttonwidth {    
    width: 200px;
    /* display: flex; */
    /* justify-content:center; */
    font-weight: 700;  
    border: 1px solid  #8f8a8a; 
    border-radius: 5px;
    padding: 8px;
}

@media screen and (width: 320px) {
    .avatar {
        height: 200px;
        width: 200px;       
    }
    .buttonwidth {
        width:304px;        
    }
    .inputwidth {
        width:284px;        
    }
}
